@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500&display=swap');

body {
  --PRIMARY-100: #F08152;
  --PRIMARY-500: #8d4d32;
  --PRIMARY-900: #5b301e;
  --WHITE: #FAF6F4;
  --SECONDARY-100:  #9AEB87;
  --SECONDARY-500:  #649a57;
  --SECONDARY-900:  #3e6037;
  background-color: var(--WHITE);
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
}

h1 {
  font-size: 72px;
  font-weight: 800;
  color: var(--PRIMARY-500);
  padding: 32px;
}

.SelectedProduct {
  font-size: 18px;
  font-weight: 500;
  margin: 16px;
}

.Selection {
  display: flex;
  flex-direction: column;
}

.ProductCard {
  font-size: 48px;
  font-weight: 800;
  color: var(--PRIMARY-500);
  background: #FAF6F4;
  border: 1px solid rgba(196, 102, 62, 0.16);
  box-shadow: 0px 1px 4px rgba(240, 129, 82, 0.21);
  display: inline-flex;
  padding: 64px;
  border-radius: 32px;
  justify-content: space-around;
  align-items: center;
  margin: 32px;
}

.ProductCard img {
  margin-right: 32px;
}
.ProductTitle {
  display: inline-flex;
  min-width: 520px;
}
.ProductPrice {
  display: flex;
  min-height: 150px;
  align-items: flex-end;
}

.ProductCard button {
  border: none;
  background: var(--PRIMARY-100);
  padding: 8px;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  position: relative;
  right: -114px;
}

.ProductCard button:hover {
  cursor: pointer;
  background: var(--SECONDARY-500);
}

.OwnerForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.OwnerForm h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--PRIMARY-500);
}
.OwnerForm label {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.OwnerForm input{
  border: var(--PRIMARY-100) 1px solid;
  height: 32px;
  width: 300px;
  border-radius: 32px;
  margin-top: 8px;
  padding: 16px;
}

.OwnerForm button {
  background-color: var(--PRIMARY-100);
  border: none;
  color: var(--WHITE);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 300px;
  border-radius: 32px;
  margin-top: 8px;
  font-weight: 900;
}

.OwnerName {
  margin-bottom: 16px;
  font-size: 18px;
}

.TotalCommand {
  font-size: 18px;
  font-weight: bold;
  padding: 32px;
}